 body {
     max-height: 1000px;
     height: 80%;
 }
 /* background img */
 
 .container-main {
     background-repeat: no-repeat;
     background-size: 100vm;
     background-position-y: -100px;
     background-size: cover;
     background-image: url(https://i.ibb.co/kG2RcPR/figure.jpg);
 }
 
 .column {
     float: left;
     width: 50.00%;
     height: 1px;
     @media screen and (max-width: 860px) {
         .col-md-3 img {
             display: none;
         }
         /* .col-md-6 h1 {
                                            font-size: 3.9rem;
                                            padding-right: 35px;
                                            margin-top: 50px;
                                            margin-bottom: 180px;
                                        } */
     }
 }
 
 .h1 {
     position: absolute;
     width: 569px;
     height: 288px;
     left: 132px;
     top: 223px;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 64px;
     line-height: 75px;
 }
 
 .h1 {
     position: absolute;
     width: 569px;
     height: 288px;
     left: 132px;
     top: 223px;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 64px;
     line-height: 75px;
 }
 
 .h1 {
     position: absolute;
     width: 569px;
     height: 288px;
     left: 132px;
     top: 223px;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 64px;
     line-height: 75px;
 }
 
 .column2 {
     float: left;
     width: 50.00%;
     height: 3px;
     padding-top: 450px;
     /*  @media screen and (max-width: 860px) {
                                        .col-md-3 img {
                                            display: none; */
 }
 
 .image2 {
     float: right;
 }
 
 .img_word {
     position: absolute;
     top: 223px;
     font-style: normal;
     font-weight: bold;
     font-size: 64px;
     line-height: 75px;
     color: #000000;
 }