.container-main {
    background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw, 100vw;
    background-position-x: 430px, -130px;
    background-position-y: -100px, 170px;
    background-size: cover, cover;
} 
.container-content {
    max-width: 1140px;
    margin-bottom: 130px;
    font-family: Arial, Helvetica, sans-serif;
}
img#faq-img {
    width: 100%;
    margin-bottom: 3rem;
}
.div-title {
    background-color: rgba(196, 196, 196, 0.3);
    border-left: 0.5rem solid #5A5B95;
}
.div-title h1 {
    margin-left: 1.4rem;
    font-size: 18px;
    font-weight: bold;
}
.div-article {
    background-color: rgba(196, 196, 196, 0.3);
    border: 0.2rem solid #5A5B95;
}
.div-article h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 0.7rem;
}
.div-article p {
    font-size: 12px;
    margin: 0 2rem 0.3rem 2rem;
}
.div-article a {
    font-size: 12px;
    color: #5A5B95;
    text-decoration: none;
}
.left-column {
    margin-left: auto;
    margin-right: auto;
}
.left-column .div-title {
    margin-top: 2.8rem;
}
.left-column .div-article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.right-column {
    margin-left: auto;
    margin-right: auto;
}
.right-column .div-title {
    margin-bottom: 1rem;
    /* margin-top: 2rem; */
}
.right-column .div-article {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .container-main {
        background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
        background-repeat: no-repeat, no-repeat;
        background-size: 100vw, 100vw;
        background-position-x: -120px, -130px;
        background-position-y: -100px, 100px;
        background-size: cover, cover;
    } 
    img#faq-img {
        margin-bottom: 0;
    }
    .left-column .div-title {
        margin-top: 1rem;
    }
}
@media screen and (max-width: 570px) {
    .container-main {
        background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
        background-repeat: no-repeat, no-repeat;
        background-size: 100vw, 100vw;
        background-position-x: -250px, -130px;
        background-position-y: -100px, 100px;
        background-size: cover, cover;
    } 
}
@media screen and (max-width: 500px) {
    .container-main {
        background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
        background-repeat: no-repeat, no-repeat;
        background-size: 100vw, 100vw;
        background-position-x: -330px, -130px;
        background-position-y: -100px, 100px;
        background-size: cover, cover;
    } 
}