.container-main {
    background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw, 100vw;
    background-position-x: 400px, -100px;
    background-position-y: -100px, 100px;
    background-size: cover, cover;
} 
.container-content {
    max-width: 1140px;
    margin-left: 5rem;
    margin-bottom: 135px;
    font-family: Arial, Helvetica, sans-serif;
}
.div-title {
    background-color: rgba(196, 196, 196, 0.3);
    border-left: 0.5rem solid #5A5B95;
}
.div-title h1 {
    margin-left: 1.4rem;
    font-size: 18px;
    font-weight: bold;
}
.div-article {
    background-color: rgba(196, 196, 196, 0.3);
    border: 0.2rem solid #5A5B95;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}
.div-article h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 0.7rem;
}
.div-article p {
    font-size: 12px;
    margin: 0 2rem 0.3rem 2rem;
}
.div-article a {
    font-size: 12px;
}
.right-column .div-title {
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.right-column .div-article {
    margin-bottom: 1.1rem;
}

