/* General */
.container-content {
    max-width: 1140px;
    font-family: Arial, Helvetica, sans-serif;
}
.left-column {

}
.right-column {

}
.div-title {
    background-color: rgba(196, 196, 196, 0.3);
    border-left: 0.5rem solid #5A5B95;
}
.div-title h1 {
    margin-left: 1.4rem;
    font-size: 18px;
    font-weight: bold;
}
.div-article {
    background-color: rgba(196, 196, 196, 0.3);
    border: 0.2rem solid #5A5B95;
}
.div-article h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 0.7rem;
}
.div-article p {
    font-size: 12px;
    margin: 0 2rem 0.3rem 2rem;
}
.div-article a {
    font-size: 12px;
    color: #5A5B95;
    text-decoration: none;
}
/* End General */

/* FAQ Page */
.container-main.page-faq {
    background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw, 100vw;
    background-size: cover, cover;
    background-position-x: 430px, -130px;
    background-position-y: -100px, 170px;
} 
.page-faq .container-content {
    margin-bottom: 130px;
}
img#faq-img {
    width: 100%;
    margin-bottom: 3rem;
}
.page-faq .left-column .div-title {
    margin-top: 2.8rem;
}
.page-faq .left-column .div-article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.page-faq .right-column .div-title {
    margin-bottom: 1rem;
    /* margin-top: 2rem; */
}
.page-faq .right-column .div-article {
    margin-bottom: 1rem;
}
/* End of FAQ */

/* Gallery */
.page-gallery .container-content {
    margin-bottom: 100px;
}
.page-gallery .div-title {
    background-color: white;
    border: 0;
    text-align: center;
    margin-bottom: 40px;
}
.page-gallery .div-title h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.page-gallery span.city {
    color: #5A5B95;
    font-size: 45px;
    text-decoration: underline #fd979a dashed;
}
.div-card {
    /* height: 250px; */
    width: 100%;
    height: 275px;
    background-color: white;
    border: 0 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div-card-header h2 {
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
}
.div-card-header p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4px;
}
.div-card-type {
}
.div-card-type p {
    margin: 0 auto;
    width: 60px;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px;
    color: white;
    background-color: #fd979a;
    position: relative;
}
.div-card-header {
    text-align: center;
}
.div-card-img {
    text-align: center;
    max-height: 150px;
}
.div-card-img img {
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.div-card-price {
    width: 50%;
    padding: 0;
    margin-left: 25px;
    display: inline;
}
.div-card-price p {
    display: inline;
    width: 30px;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.div-card-price h2 {
    display: inline;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.div-card-extra {
    margin: 0 auto;
    text-align: center;
}
.div-card-extra img {
    margin-top: -15px;
    max-width: 154px;
}
.div-card-button {
    display: inline;
    padding: 0;
}
.card-button {
    display: inline-block;
    position: relative;
    background-color: #5A5B95;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    top: -2px;
    right: -37px;
    margin: 0;
    cursor: pointer;
}
.card-button:hover {
    color: white;
    text-decoration: none;
}

/* End of Gallery */

@media screen and (max-width: 768px) {
    /* FAQ */
    .container-main.page-faq{
        background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
        background-repeat: no-repeat, no-repeat;
        background-size: 100vw, 100vw;
        background-size: cover, cover;
        background-position-x: -120px, -130px;
        background-position-y: -100px, 100px;
    }
    .page-faq .left-column .div-title {
        margin-top: 1rem;
    }
    img#faq-img {
        margin-bottom: 0;
    }
    /* End of FAQ */
}
@media screen and (max-width: 570px) {
    /* FAQ */
    .container-main.page-faq{
        background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
        background-repeat: no-repeat, no-repeat;
        background-size: 100vw, 100vw;
        background-size: cover, cover;
        background-position-x: -250px, -130px;
        background-position-y: -100px, 100px;
    }
    /* End of FAQ */
}
@media screen and (max-width: 500px) {
    /* FAQ */
    .container-main.page-faq{
        background-image: url(src/images/figure-rotated.jpg), url(src/images/figure.jpg);
        background-repeat: no-repeat, no-repeat;
        background-size: 100vw, 100vw;
        background-size: cover, cover;
        background-position-x: -330px, -130px;
        background-position-y: -100px, 100px;
    }
    /* End of FAQ */
}